<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . ../home/%{REQUEST_URI} [QSA,L]
    RewriteRule \.(php|phtml|yml|ini|eml|log|tmp)$ ../home/%{REQUEST_URI} [QSA,L]
</IfModule>