.markItUp .bold {
    background: url(images/bold.png) no-repeat;
}

.markItUp .italic {
    background: url(images/italic.png) no-repeat;
}

.markItUp .underline {
    background: url(images/underline.png) no-repeat;
}

.markItUp .strike {
    background: url(images/strike.png) no-repeat;
}

.markItUp .image {
    background: url(images/image.png) no-repeat;
}

.markItUp .align_left {
    background: url(images/align_left.png) no-repeat;
}

.markItUp .align_center {
    background: url(images/align_center.png) no-repeat;
}

.markItUp .align_right {
    background: url(images/align_right.png) no-repeat;
}

.markItUp .align_justify {
    background: url(images/align_justify.png) no-repeat;
}

.markItUp .small {
    background: url(images/small.png) no-repeat;
}

.markItUp .sup {
    background: url(images/sup.png) no-repeat;
}

.markItUp .sub {
    background: url(images/sub.png) no-repeat;
}

.markItUp .code {
    background: url(images/code.png) no-repeat;
}

.markItUp .quote {
    background: url(images/quote.png) no-repeat;
}

.markItUp .link {
    background: url(images/link.png) no-repeat;
}

.markItUp .clean {
    background: url(images/clean.png) no-repeat;
}

.markItUp .list_bullets {
    background: url(images/list_bullets.png) no-repeat;
}

.markItUp .list_numbers {
    background: url(images/list_numbers.png) no-repeat;
}

.markItUp .paragraph {
    background: url(images/paragraph.png) no-repeat;
}