body {
    background: #fff;
    margin: 10px;
}

body, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.check_error {    border: solid 1px #c60000;}

fieldset.msg li {
    margin: 0;
    padding: 5px;
    *padding: 10px;
}

fieldset.msg.i {
    border: solid 1px #2b9f33;
    color: #2b9f33;
}

fieldset.msg.i legend {
	color: #2b9f33;
}

fieldset.msg.e {
	border: solid 1px #c60000;
	color: #c60000;
}

fieldset.msg.e legend {
	color: #c60000;
}

dfn {
    color: maroon;
    font-style: normal;
}

dfn.tag {
    color: blue;
}